.App {
  /* text-align: center;
  height: 100vh;
  position: absolute;
  background-color: red;
  --container-width: 100%; 
  flex-wrap: wrap; */
  /* margin: 10px; */
}

.container {
  display: flex; 
  align-items: center;
  flex-direction: column;
  margin: 0px;
  display: flex;
  /* padding: 10px; 
  /* width: 500px; */
}

/* .App {
  align-items: center;
  justify-content: center;
  height: fit-content;
  background: linear-gradient(
position      rgba(2555, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVkJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  background-: center;
} */

body, html {
  /* height: 100%; */
  margin: 0;
}