.App {
  /* text-align: center;
  height: 100vh;
  position: absolute;
  background-color: red;
  --container-width: 100%; 
  flex-wrap: wrap; */
  /* margin: 10px; */
}

.container {
  display: flex; 
  align-items: center;
  flex-direction: column;
  margin: 0px;
  display: flex;
  /* padding: 10px; 
  /* width: 500px; */
}

body, html {
  /* height: 100%; */
  margin: 0;
}

